/* common style for posts and archive */
.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start
}

.container.single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  margin: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_url {
  text-decoration: none !important;
}

.post__title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.fragment {
  width: 450px;
  margin: 0 !important;
  padding: 0 !important;
}

ul.page-numbers {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

ul.page-numbers li {
  background-color: lightgray;
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

ul.page-numbers li a {
  text-decoration: none;
  color: blue;
}

.slide-up {
  transform: translateY(-6px);
  border: none !important;
  background-color: black !important; 
  color: red;
}


/* 
***********
***********
LIKE
***********
***********
*/

.like-block {
  width: 67%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.like-svg {
  margin-bottom: 20px;
}

#like {
  fill: gray;
}
#like:hover {
  cursor: pointer;
  fill: pink;
}

.like-count {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.active-like {
  fill: red !important;
}

/* 
***********
***********
LOAD MORE
***********
***********
*/

.load_more {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: gray;
  font-weight: 700;
  margin-bottom: 60px;
}

.load_more:hover {
  filter: blur(1px);
}

/* 
***********
***********
CALENDAR
***********
***********
*/

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold !important;
  outline: 1px dashed #00BCD4 !important;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor !important;
} 

.date-picker a {
  text-decoration: none;
}

/* sunday */
.date-picker:nth-child(1) {
color: red;
}

/* friday */
.date-picker:nth-child(6) {
color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}



/* search widget */
.search-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.seacrh-icon {
  background-color: #cd2653;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-svg {
  fill: white;
}

input[type="search"].old-search {
  font-size: 24px;
  padding: 10px 10px;
  border-right: none;
}

.focus-icon {
  background-color: #00a2b7;
  padding: 0 12px;
}

.focus-icon .search-svg {
  fill: black;
  width: 30px;
  height: 30px;
}

.in-search .search-svg {
  animation: search 0.6s infinite;
}

@keyframes search {
  from { transform: translate(2px, 0); }
  7% { transform: translate(1.5px, 0.5); }
  13% { transform: translate(1px, 1px); }
  19% { transform: translate(0.5px, 1.5px); }
  26% { transform: translate(0px, 2px); }
  32% { transform: translate(-0.5px, 1.5px); }
  39% { transform: translate(-1px, 1px); }
  46% { transform: translate(-1.5px, 0.5px); }
  52% { transform: translate(-2px, 0px); }
  58% { transform: translate(-1.5px, -0.5px); }
  65% { transform: translate(-1px, -1px); }
  71% { transform: translate(-0.5px, -1.5px); }
  78% { transform: translate(0px, -2px); }
  85% { transform: translate(0.5px, -1.5px); }
  91% { transform: translate(1px, -1px); }
  96% { transform: translate(1.5px, -0.5px); }
  to { transform: translate(2px, 0px); }
 }

.filters {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
 
.open-filters-btn {
  padding: 8px 14px;
  max-width: 100px;
  font-size: 14px !important;
  border-radius: 2px;
}

.open-filters-btn:hover,
.open-filters-btn:focus {
  text-decoration: none;
}

.filters-displayer {
  margin-top: 12px;
  height: 0px;
  transition: 0.2s;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 380px;
}

.ranger {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.importances {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding-top: 10px;
}
.one-importance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.one-importance label {
  margin: 0 3px;
  padding-top: 2px;
}

.imp-head {
  font-size: 16px;
}

.open-filters {
  height: 180px;
}

.one-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-i-l {
  transform: translateY(13px);
}

input[type=number] {
  width: 20% !important;
  flex-shrink: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}

input[type=range] {
  width: 40%;
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #00a2b7;
  border: 0;
  width: 100%;
  height: 3.6px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -6.2px;
  width: 16px;
  height: 16px;
  background: rgba(205, 38, 83, 0.9);
  border: 0.7px solid #413e40;
  border-radius: 16px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  background: #00a2b7;
  border: 0;
  width: 100%;
  height: 3.6px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: rgba(205, 38, 83, 0.9);
  border: 0.7px solid #413e40;
  border-radius: 16px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.7px 0;
  color: transparent;
  width: 100%;
  height: 3.6px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #00707f;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #00a2b7;
  border: 0;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 16px;
  background: rgba(205, 38, 83, 0.9);
  border: 0.7px solid #413e40;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #00a2b7;
}
input[type=range]:focus::-ms-fill-upper {
  background: #00d4ef;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.archive_widget {
  width: 80%;
}

.search-results {
  width: 100%;
  height: auto;
  background-color: white;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  position: absolute;
  left: 0;
  top: 51px;
  display: flex;
  justify-content: center;
}

.post_results,
.old_results,
.people_results {
  height: auto;
  margin: 0;
  list-style-type: none;
}

.search-results li {
  margin: 0 !important;
}

.old_results {
  width: 36%;
}

.post_results,
.people_results {
  width: 32%;
}

.result_url {
  text-decoration: none;
  color:  #007cba;
  display: block;
  width: 100%;
  line-height: 12px;
  padding: 5px 0;
}

.people_results a {
  color:  #cd2653;
}

.post_results a {
  color: black;
}

.res_url_wrapper {
  padding: 3px 0;
}
.res_url_wrapper:hover {
  background-color: #f5f5f5;
}
.old_url_wrapper {
  padding-left: 5px;
}
.pseudo-div {
  width: 100%;
  height: 28px;
}
.no-focused {
  height: 0 !important;
  overflow: hidden !important;
  transition: 0.4s;
}
.close-search {
  width: 51px;
  height: 51px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-left: none;
  border-bottom: none;
  flex-shrink: 0;
  position: relative;
}
.close-search:hover {
  background-color: lightgray;
  cursor: pointer;
}

.close-chrest1, 
.close-chrest2 {
  width: 28px;
  height: 2px;
  background-color: black;
  position: absolute;
  display: inline-block;
  top: calc(50% - 1px);
  left: calc(50% - 14px);
}

.close-chrest1 {
  transform: rotate(45deg);
}
.close-chrest2 {
  transform: rotate(-45deg);
}