.people_meta_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.people_small_wrapper {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people_meta_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 5px;
  width: 100%;
}

.people_meta_input input {
  width: 98%;
}

.people_meta_input label {
  padding-left: 2px;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

#add_new_person {
  background-color: #00a2b7;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5px 6px;
  width: 70px;
  display: inline-block;
}
#add_new_person:hover {
  cursor: pointer;
  background-color: blue;
}
#delete_rec_person {
  display: inline-block;
  background-color: darkred;
  width: 70px;
  color: white;
  padding: 5px 0;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  flex-shrink: 0;
  transform: translateY(9px);
  margin: 0 5px 0 0;
}
#delete_rec_person:hover {
  cursor: pointer;
  background-color: red;
}

#additional_posts .inside {
  padding: 5px 0 10px 10px !important;
}

.inside {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

#fragment_field,
#date_field {
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
  font-size: 18px;
}

#fragment_field {
  height: 300px;
  width: 100%;
  resize: none;
  font-weight: 100;
  background-color: rgba(246, 255, 206, 0.616);
}

#date_field {
  border-bottom: none;
}

#fragment_field:focus,
#date_field:focus {
  background-color: white;
}

#frgment_label,
#date_label {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

input[name='default_options[amount]'] {
  width: 55px;
}

.form-table tbody tr:nth-child(2) td {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-table tbody tr:nth-child(2) td label {
  margin: 3px 0;
}

.form-table tbody tr:nth-child(3) td textarea {
  width: 350px;
  height: 250px;
}
